<ion-view class="app-background">
    <ion-nav-title class="stable">
        <i class="hl-icon-brand"></i>&nbsp;&nbsp;豪隆毛绒
    </ion-nav-title>
    <ion-content on-scroll="home.action.getTop()" lazy-scroll>
        <ion-refresher spinner="android" pulling-text="下拉刷新" on-refresh="home.action.doRefresh()">
        </ion-refresher>
        <!-- slide-box begin -->
        <ion-slide-box auto-play="true" does-continue="true" on-slide-changed="home.action.updateSlide()">
            <ion-slide ng-repeat="slide in home.data.slides">
                <img image-lazy-loader="lines" image-lazy-src="{{slide.pic!='false'?slide.pic:'img/noimg.png'}}" class="width-100 box" ui-sref="slideHref({url:'{{slide.url}}'})" ng-if="!slide.isProId">
                <img image-lazy-loader="lines" image-lazy-src="{{slide.pic!='false'?slide.pic:'img/noimg.png'}}" class="width-100 box" ui-sref="productDetail({ id: '{{slide.url}}'})" ng-if="slide.isProId">
            </ion-slide>
        </ion-slide-box>
        <!-- slide-box end -->
        <!-- begin search bar -->
        <div class="list list-inset shawdow">
            <label class="item item-input">
                &nbsp;<i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="搜索" ui-sref="search">
            </label>
        </div>
        <!-- end search bar -->
        <div class="row">
            <div class="col col-33 col-offset-33 text-center border-top-bottom">热销商品</div>
        </div>
        <div class="row wrap">
            <div class="col-50  box" ng-repeat="item in home.data.products">
                <div class="list card half-card" ui-sref="productDetail({ id: {{item.id}}})">
                    <div class="item item-image">
                        <!-- <img class="all-product-img-size" ng-src="{{item.pic!='false'?item.pic:'img/noimg.png'}}"> -->
                        <img class="all-product-img-size" image-lazy-loader="lines" image-lazy-src="{{item.pic!='false'?item.pic:'img/noimg.png'}}">
                    </div>
                    <div class="item product-footer">
                        <span class="product-title over-hide">{{item.name}}</span>
                        <span class="product-price">￥{{item.price}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="home.action.canBeLoaded()" spinner="android" on-infinite="home.action.loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <section class="go-to-top">
        <span class="icon ion-android-arrow-up light-bg  basic-color show" ng-click="home.action.scrollTop()" ng-show="home.data.top>500"></span>
    </section>
</ion-view>
