<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-slide-box class="full-screen">
            <ion-slide>
                <div class="full-screen">
                    <img src="../img/introduce1.png" class="full-screen">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="full-screen">
                    <img src="../img/introduce2.png" class="full-screen">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="full-screen">
                    <img src="../img/introduce3.png" class="full-screen">
                </div>
                <div class="begin-button">
                    <button class="button button-block button-positive" ui-sref="tabs.homepage">开始使用</button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
