<ion-view view-title="新品">
    <ion-content class="app-background" on-scroll="newProduct.action.getTop()" lazy-scroll>
    <ion-refresher spinner="android" pulling-text="下拉刷新" on-refresh="newProduct.action.doRefresh()">
    </ion-refresher>
        <section>
            <article ng-repeat="(date, products) in newProduct.data.dates">
                <header class="new-producut-header">{{date}}</header>
                <section class="row wrap row-no-padding fix-top">
                    <div class="col-50 " ng-repeat="item in products">
                        <div class="list card half-card" ui-sref="productDetail({ id: {{item.id}}})">
                            <div class="item item-image">
                                <img class="all-product-img-size" image-lazy-loader="lines" image-lazy-src="{{item.pic!='false'?item.pic:'img/noimg.png'}}">
                            </div>
                            <div class="item product-footer">
                                <span class="product-title over-hide">{{item.name}}</span>
                                <span class="product-price">￥{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </section>
        <ion-infinite-scroll ng-if="newProduct.action.canBeLoaded()" spinner="android" on-infinite="newProduct.action.loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <section class="go-to-top">
        <span class="icon ion-android-arrow-up light-bg  basic-color show" ng-click="newProduct.action.scrollTop()" ng-show="newProduct.data.top>500"></span>
    </section>
</ion-view>
