<ion-view view-title="新品">
    <ion-content class="app-background">
        <section>
            <article ng-repeat="(date, products) in newProduct.data.dates">
                <header class="new-producut-header">{{date}}</header>
                <section class="row wrap row-no-padding fix-top">
                    <div class="col-50 " ng-repeat="item in products">
                        <div class="list card half-card" ui-sref="productDetail({ id: {{item.id}}})">
                            <div class="item item-image">
                                <img src="{{item.pic}}">
                            </div>
                            <div class="item product-footer">
                                <span class="product-title">{{item.name}}</span>
                                <span class="product-price">{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </section>
        <ion-infinite-scroll ng-if="newProduct.action.canBeLoaded()" on-infinite="newProduct.action.loadMore()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
