<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="首页" ui-sref="tabs.homepage" icon="">
		<ion-nav-view name="homepage-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="新品" ui-sref="tabs.newproduct" icon="">
		<ion-nav-view name="newproduct-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="所有产品" ui-sref="tabs.allproduct" icon="">
		<ion-nav-view name="allproduct-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="联系我们" ui-sref="tabs.contact" icon="hl-icon-homepage">
		<ion-nav-view name="contact-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>