<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.hlapp405117" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>淘布</name>
  <description>&#xD; 淘布应用&#xD;&#xD;
        </description>
  <author email="ddgong@foxmail.com" href="http://example.com.com/">&#xD; Your Name Here&#xD;&#xD;
        </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#66afd5"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <preference name="StatusBarStyle" value="lightcontent"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="resources/ios/icon/icon.png" width="800" height="800"/>
    <splash src="resources/ios/splash/splash.png" height="1024" width="1820"/>
  </platform>
  <platform name="android">
    <icon src="resources/android/icon/icon.png"/>
    <splash src="resources/android/splash/splash.png" density="ldpi"/>
    <splash src="resources/android/splash/splash.png" density="land-ldpi"/>
    <splash src="resources/android/splash/splash.png" density="land-mdpi"/>
    <splash src="resources/android/splash/splash.png" density="land-hdpi"/>
    <splash src="resources/android/splash/splash.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/splash.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/splash.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/splash.png" density="port-ldpi"/>
    <splash src="resources/android/splash/splash.png" density="port-mdpi"/>
    <splash src="resources/android/splash/splash.png" density="port-hdpi"/>
    <splash src="resources/android/splash/splash.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/splash.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/splash.png" density="port-xxxhdpi"/>
  </platform>
</widget>