/*
icon css
 */
@font-face {
  font-family: "HLicons";
  src: url("../fonts/newFont-Regular.ttf");
  font-weight: normal;
  font-style: normal; 
}
.hl-icon-homepage:before,
.hl-icon-newproduct,
.hl-icon-allproduct,
.hl-icon-brand,
.hl-icon-contact {
  display: inline-block;
  font-family: "HLicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.hl-icon-homepage:before{
	content: "A";
}
.hl-icon-newproduct:before{
	content: "C";
}
.hl-icon-allproduct:before{
	content: "B";
}
.hl-icon-brand:before{
	content: "E";
}
.hl-icon-contact:before{
	content: "D";
}
/*
side box css
 */
.box {
  height: 200px;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.pink{
  background-color: pink;
}
/*
home page background color
 */
.bar-lightblue{
  background-color: #66B1D6;
}
.app-background{
  background-color: #E7E7E9;
}
.shawdow{
  box-shadow: 0px 1px 2px #888888;
}
.text-center{
  text-align: center;
}
.border-top-bottom{
  border-top:2px solid #C6C9CA;
border-bottom:2px solid #C6C9CA;
}
.half-card{
  widows: 50%;
}
.product-footer{
  padding: 7px;
}
.product-title {
  display: block;
  font-size: 1.15em;
  text-align: center;
  font-weight: bolder;
}
.product-price {
  text-align:center;
  color: #ACAEBF;
  font-size: 0.9em;
  display: block;
}
.categories {
  height: 43px;
  border: 1px solid #F0F1F1;

}
.category {
  display: inline-block;
  width: 18%;
  height: 100%;
  color: #393A3A;
  text-align: center;
  line-height: 3;
  font-weight: bolder;

}
.selected-category {
  border-bottom: 5px solid #66B0D6;
}
.more-categories{
  color: #D5D5D6;
}
