/*
icon css
 */
@font-face {
  font-family: "HLicons";
  src: url("../fonts/newFont-Regular.ttf");
  font-weight: normal;
  font-style: normal; 
}
.hl-icon-homepage:before,
.hl-icon-newproduct,
.hl-icon-allproduct,
.hl-icon-brand,
.hl-icon-contact {
  display: inline-block;
  font-family: "HLicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
.hl-icon-homepage:before{
	content: "A";
}
.hl-icon-newproduct:before{
	content: "C";
}
.hl-icon-allproduct:before{
	content: "B";
}
.hl-icon-brand:before{
	content: "E";
}
.hl-icon-contact:before{
	content: "D";
}
/*
side box css
 */
.box {
  height: 200px;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.pink{
  background-color: pink;
}
/*
home page background color
 */
.bar-lightblue{
  background-color: #66B1D6;
}
.app-background{
  background-color: #E7E7E9;
}
.shawdow{
  box-shadow: 0px 1px 2px #888888;
}
.text-center{
  text-align: center;
}
.border-top-bottom{
  border-top:2px solid #C6C9CA;
border-bottom:2px solid #C6C9CA;
}
.half-card{
  widows: 50%;
}